@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

@font-face {
    font-family: "avenirnext-regular", sans-serif;
    src: url("./font/AvenirNextLTPro-Regular.otf") format("otf");
}
  @font-face {
    font-family: "avenirnext-bold", sans-serif;
    src: url("./font/AvenirNextLTPro-Bold.otf") format("otf"); 
}
  @font-face {
    font-family: "avenirnext-demi", sans-serif;
    src: url("./font/AvenirNextLTPro-It.otf") format("otf");
}

* {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5rem;
}

.form-wrapper {
    max-width: 440px;
}

h1 {
    font-family: avenirnext-bold, sans-serif;
    font-weight: 700;
}

p {
    font-family: avenirnext-regular, sans-serif;
    font-weight: 400;
}

.password-field button {
    right: 0;
    top: 0;
}

.forgot-btn {
    justify-content: space-between;

}

.forgot-btn a {
    font-weight: 500;
    color: #39cdcc;
}

.sub {
    justify-content: center;
    font-weight: 500;
    height: 50px;
}
/*

.logo-link {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

*/